*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
/* top-menu  */
.top-menu{
    background-color: #173a69; 
    display: flex;
     justify-content: space-between;
    align-items: center;
    padding: 5px;
}
    
.field{
    color: aliceblue; 
}

.phone-mail a{
    text-decoration: none;
    margin-right: 20px;
    color: aliceblue;   
}
.phone-mail a:hover{
    transition: 1s;
    color: rgb(0, 255, 221);
}
.phone-mail i:hover{
    transition: 1s;
    color: rgb(236, 183, 83);
}


.phone-mail  {
    display: flex;
    margin-left: 5px;

}
 
.social-icon ul li {
list-style: none;
margin-right: 30px;
font-size: 30px;
}
.field{
    color: aliceblue;
    font-size: 16px;
}
.social-icon ul{
    display: flex;
}
/* navigation-bar */
.menu a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-left: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}
.nav-bar a::after{
    content: "";
    position: absolute;
    height: 3px;
    width:0px;
    background-image: linear-gradient(yellowgreen, gray);
    bottom: -15px;
    left: 50%;
    transition: .5s;
     transform: translate(-50%);
 
}
.nav-bar a:hover:after{
    font-weight: 700;
    width: 100%;
   
}

.nav-bar{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
   

}
/* banner-section */
.dari{
    margin: auto;
    padding: auto;
    height: 3px;
    width: 50px;
    background-color: black;
}
.banner-section{
    background-image: url(images/bannaer-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 430px;
    box-shadow: gray;
}
.banner-section .banner-title{
  float: right;
  width: 550px;
  
  margin-top: 143px;
}

.banner-section h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700px;
   text-transform: uppercase;
   font-size: 18px;
   color:#010101;
    
   }
   .banner-section h1{
       font-family: 'Open Sans', sans-serif;
    font-weight: 700px;
   text-transform: uppercase;
   font-size: 40px;
   color:#010101;
   margin: 3px;
 }

.batton{
    margin-top: 10px;
}
.batton a {
    color:white;
    text-decoration: none;
    background-color:#173a69;
    padding: 8px;
    border-radius: 8px;
    font-weight: 700px
    ;
    text-transform: uppercase;
 }
.batton a:hover{
    background-color:rgb(21, 128, 96);
    transition: 1s;
}
/* service-offer */
.center{
    text-align: center;
    margin-top: 40px;
}
.service-items{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.service-item h3{
    color:#173a69 ;
    margin-top: 10px;

}
/* about-section */
.about-section{
    background-image: url(images/about-backgroubnd-img.jpg);
    margin-top: 85px;

}
.abouts-item{
    display: flex;
    align-items: center;
     
     

}
.image img{
    margin-left: 100px;
    margin-top: 50px;
    
}
.about-title{
    margin-top: 50px;
    margin-left: 50px;
}
/* gallery-section */
.gallery{
    text-align: center;
    margin-top: 100px;

}
.gallery img{
    margin: top 100px;
}
.gallery-images{
margin: 50px;
}
 

.gallery-image img{
    width: 100%;
}


.gallery-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;
    column-gap:25px;
   
    
}
.gallery-image{
    position: relative;
}

.gallery-image::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 0;
    background-color: rgb(248, 247, 247);
    bottom:0;
    right:0;
    opacity: .5;
    transition: 2s;
}

.gallery-image:hover::after{
    width: 100%;

}

.hover-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
opacity: 0;
transition: 1s;
}
.gallery-image:hover .hover-img{
    opacity: .8;
}
.btn a{
    color:white;
    text-decoration: none;
    background-color:#173a69;
    padding: 8px;
    border-radius: 8px;
    font-weight: 700px
    ;
    text-transform: uppercase;
}
.btn  {
    text-align: center;
    margin-bottom: 20px;
    
    
}
.btn a:hover{
    background-color: rgb(112, 108, 108);
    transition: 1s;
}
    
  /* ------ */

.end-site{
    background-color:#173a69;
}
.End-menu{
text-align: center;
padding: 20px;
color: #fff;
font-size: 24px;
}
/* -------- logo add----------- */
.Logo{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}
.social-icon1{
    text-align: center;
    margin-top: 20px;
    
}
.social-icon1 i{
   margin: 10px;
    text-align: center; 
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color:#edeff1;
    padding: 5px;
    color: black;
    border: 1px solid;
}
.social-icon1 i:hover{
color: #173a69;
}
/* footer  */

.footer{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    font-size: 10px;
    padding: 20px;
    text-transform: capitalize;
    margin-top: 50px;
}
/* ------------- */



