*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 1350px;
    width: 100%;
    margin:0 auto;
}
/* top-menu  */
.top-menu{
    background-color: #173a69; 
    display: flex;
     justify-content: space-between;
    align-items: center;
    padding: 5px;
}
    
.field{
    color: aliceblue; 
}

.phone-mail a{
    text-decoration: none;
    margin-right: 20px;
    color: aliceblue;   
}
.phone-mail a:hover{
    transition: 1s;
    color: rgb(0, 255, 221);
}
.phone-mail i:hover{
    transition: 1s;
    color: rgb(236, 183, 83);
}


.phone-mail  {
    display: flex;
    margin-left: 5px;

}
 
.social-icon ul li {
list-style: none;
margin-right: 30px;
font-size: 30px;
}
.social-icon .hover-1:hover{
    color:#2962ff ;
    transition: 1s;
}
.social-icon .hover-2:hover{
    color: #5da9dd;
    transition: 1s;
}
.social-icon .hover-3:hover{
    color: #219f61;
    transition: 1s;
}
.field{
    color: aliceblue;
    font-size: 16px;
}
.social-icon ul{
    display: flex;
}
/* navigation-bar */
.menu a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-left: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}
.nav-bar a::after{
    content: "";
    position: absolute;
    height: 3px;
    width:0px;
    background-image: linear-gradient(yellowgreen, gray);
    bottom: -35px;
    left: 50%;
    transition: .5s;
     transform: translate(-50%);
 
}
.nav-bar a:hover:after{
    font-weight: 700;
    width: 100%;
   
}

.nav-bar{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
   

}
.nav-bar img{
  width: 115%; 
}
/* banner-section */
.dari{
    margin: auto;
    padding: auto;
    height: 3px;
    width: 50px;
    background-color: black;
}
.banner-section{
    background-image: url(images/bannaer-img.jpg);
    background-size: cover;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 430px;
    padding: 160px 0;
    position: relative;
    z-index: 999999;
}
.banner-section::after {
    position: absolute;
    content: "";
    background-image: url("images/ovarlay-4.jpg");
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
    top: 0;
   
}
.banner-section .banner-title{
  float: right;
  width: 550px;
  
  margin-top: 143px;
}

.banner-section h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700px;
   text-transform: uppercase;
   font-size: 18px;
   color:#010101;
    
   }
   .banner-section h1{
       font-family: 'Open Sans', sans-serif;
    font-weight: 700px;
   text-transform: uppercase;
   font-size: 40px;
   color:#010101;
   margin: 3px;
 }

.batton{
    margin-top: 20px;
    
}
.Btn-1 {
    color:white;
    text-decoration: none;
    background-color:#173a69;
    padding: 8px;
    font-weight: 700px  ;
    text-transform: uppercase;
    
 }
.Btn-2 {
    color:black;
    text-decoration: none;
    background-color:transparent;
    padding: 8px;
    border: 1px solid;
    font-weight: 700px;
    
    text-transform: uppercase;
    margin-left: 8px;
 }
.Btn-1:hover{
    background-color:rgb(92, 146, 228);
    transition: 1s;
}
.Btn-2:hover{
   
    background-color: rgb(136, 129, 129);
    transition: 1s;
}

/* service-offer */
.center{
    text-align: center;
    margin-top: 40px;
}
.service-items{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
}
.service-item h5{
    color:black ;
    margin-top: 10px;

}
/* about-section */
.about-section{
    background-image: url(images/about-backgroubnd-img.jpg);
    /* margin-top: 85px; */
    margin: 100px 0;
    background-position: center;
    background-size: cover;
    padding: 40px;
    top: 150px;
    background-repeat: no-repeat;
    

}
.abouts-item{
    display: flex;
    align-items: center;
     
     

}
.half-width{
    width: 50%;
}
.image img{
   
    width: 100%;
    
}
.about-title{
    margin-top: 50px;
    margin-left: 50px;
}
/* gallery-section */
.gallery{
    text-align: center;
    margin-top: 100px;

}
.gallery img{
    margin: top 100px;
}
 

.gallery-image img{
    width: 100%;
}


.gallery-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;
    column-gap:25px;
   
    
}
.gallery-image{
    position: relative;
}

.gallery-image::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color:white;
    bottom:0;
    right:0;
    opacity: 0;
    transition: 2s;
}

.gallery-image:hover::after{
    width: 100%;
    opacity: .7;

}

.hover-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
opacity: 0;
transition: 1s;
}
.gallery-image:hover .hover-img{
    opacity:1;
    
}
.center2{
    font-size: 26px;
    margin-left: 40px;
color: black;
}
.btn a{
    color:white;
    text-decoration: none;
    background-color:#173a69;
    padding: 8px;
   
    font-weight: 700px
    ;
    text-transform: uppercase;
}
.btn  {
    
        text-align: center;
        margin-bottom: 50px;
        margin-top: 41px;
    
}
.btn a:hover{
    background-color: rgb(112, 108, 108);
    transition: 1s;
    
}
    
  /* ------ */

.end-site{
    background-color:#173a69;
}
.End-menu{
text-align: center;
padding: 20px;
color: #fff;
font-size: 24px;
}
/* -------- logo add----------- */
.Logo{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}
.Logo img{
    width: 25%;
}
.social-icon1{
    text-align: center;
    margin-top: 20px;
    
}
.social-icon1{
    list-style: none;
    display: flex;
   justify-content: center;
   
}
.social-icon1 i{
   margin: 10px;
    text-align: center; 
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color:#d7dadd;
    padding: 5px;
    color: black;
    border: 1px solid;
}
 .social-icon1 i:hover{
color: #173a69;
} 
/* footer  */

.footer{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    font-size: 10px;
    padding: 20px;
    text-transform: capitalize;
    margin-top: 50px;
}
/* ------------- */



